{% extends "theme.html" %}
{% block title %}Add Category{% endblock title %}

{% block content %}
<div class="container">
    <div class="full">
        <h1 class="type">Add Category</h1>
        <form method="POST" action="{{url_for('add_category')}}">
            <label for="name">Category's Name:</label>
            <br>
            <input name="name" type="text" placeholder="Item's Name" value="">
            <br>
            <input type="submit" value="Add">
        </form>
    </div>
</div>
{% endblock %}
