{% extends "theme.html" %}
{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="full">
        <div style="">
            <span class="type" style="padding-right: 0.5em;">{{item.name}}</span>
            <span>{{category.name}}</span>
        </div>
        <p>{{item.description}}</p>
        {% if logged_in %}
        <a href="{{url_for('edit_item', category_name=category.name, item_name=item.name)}}" style="padding-right: 1em;" class="items">Edit</a>
        <a href="{{url_for('delete_item', category_name=category.name, item_name=item.name)}}" class="items">Delete</a>
        {% endif %}
    </div>
</div>
{% endblock %}
