<div class="wrapper">
    <nav class="active">
        <div class="logo"><a href="/">Catalog App</a></div>
        <ul class="left">
            {% if logged_in %}
            <li><a href="{{url_for('add_category')}}">Add Category</a></li>
            <li><a href="{{url_for('add_item')}}">Add Item</a></li>
            {% endif %}
        </ul>
        <ul class="right">
            <li>
                {% if logged_in %}
                <a class="active" href="{{url_for('logout')}}"><i class="fa fa-user-circle"></i>Log out</a>
                {% else %}
                <a class="active" href="{{url_for('login')}}"><i class="fa fa-user-circle"></i>Log in</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
